<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="6eb7e8aa-f969-408f-a9b0-6a54f34700ee" name="Insruance Test Suite" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="6eb7e8aa-f969-408f-a9b0-6a54f34700eefileName">Insruance-Test-Suite</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties/><con:reportParameters/></con:testSuite>